body {
    font-family: Roboto, sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #555;
}

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#modalRoot {
    position: fixed;
    top: 0;
}

#canvas {
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 2px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.draw2d_droppable {
    cursor: pointer;
    display: inline-block;
}

.draw2d_droppable:hover {
    background: #ccc;
}

.overlayMenu {
    position: absolute;
    background: #fff;
    padding: 8px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

tr, td, th {
    padding: 2px;
}

button {
    margin-right: 8px;
}
