.PlantCell {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
}

.PlantCell--hasEquipment {
    height: 100%;
}

.PlantCell__control {
    text-align: center;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.PlantCell__control > i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.PlantCell__control:hover {
    opacity: 1;
}

.PlantCell__up {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.PlantCell__right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.PlantCell__down {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.PlantCell__left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.PlantCell__remove {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.PlantCell__equipment {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
